<!-- <div class="col-start-6 col-end-12 p-3 rounded-lg">
  <div class="flex items-center justify-start flex-row-reverse">
    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0">
      F
    </div>
    <div class="relative mr-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl">
      {{ text }}
    </div>
  </div>
</div> -->
<div class="grid grid-nogutter mb-4">
  <div class="col mt-3 text-right">
    <span class="inline-block text-left font-medium border-1 surface-border bg-primary-100 text-primary-900 p-3 white-space-normal border-round"
      style="word-break: break-word; max-width: 80%;">{{ text }}</span>
  </div>
</div>


<!-- <div class="ng-star-inserted">
  <div class="grid grid-nogutter mb-4 ng-star-inserted">
      <div class="col mt-3 text-right">
        <span class="inline-block text-left font-medium border-1 surface-border bg-primary-100 text-primary-900 p-3 white-space-normal border-round"
              style="word-break: break-word; max-width: 80%;">Sed do eiusmod tempor incididunt ut labore
              et
              dolore magna aliqua</span>
      </div>
  </div>
</div> -->