<div class="ng-star-inserted">
  <div class="grid grid-nogutter mb-4 ng-star-inserted">
      <!-- <div class="mr-3 mt-1"><img alt="user.name" class="w-3rem h-3rem border-circle shadow-4"
              src="assets/demo/images/avatar/ionibowcher.png"></div> -->
      <div class="col mt-3">
          <!-- <p class="text-900 font-semibold mb-3">Ioni Bowcher</p> -->
          <span
              class="text-700 inline-block font-medium border-1 surface-border p-3 white-space-normal border-round"
              style="word-break: break-word; max-width: 80%;">{{ text }}</span>
      </div>
  </div>
</div>
<!-- <div class="col-start-1 col-end-9 p-3 rounded-lg">
  <div class="flex flex-row items-start">


    <div class="flex items-center justify-center h-10 w-10 rounded-full bg-green-600 flex-shrink-0">
      G
    </div>

    <div class="relative ml-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl">
      <span></span>
      <markdown>{{ text }}</markdown>
    </div>


  </div>
</div> -->
