<div class="grid flex">
    <div class="card px-6 py-6 col-12">

        <p-table #dt [value]="lregistros" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrar {first} de {last} de {totalRecords} registros" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Lista de Asistentes Virturales
                    <p-button label="Nuevo" icon="pi pi-plus" (click)="crearNuevo()" [rounded]="true" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:15%" pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                    <th style="width:20%" pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                    <th style="width:20%" pSortableColumn="model">Model GPT <p-sortIcon field="model"></p-sortIcon></th>
                    <th style="width:20%" pSortableColumn="idasistente">Id Asistente <p-sortIcon field="idasistente"></p-sortIcon></th>
                    <th style="width:15%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reg>
                <tr>
                    <td><span class="p-column-title">Code</span>
                        {{reg.id}}
                    </td>
                    <td><span class="p-column-title">Nombre</span>
                        {{reg.name}}
                    </td>
                    <td><span class="p-column-title">Model GPT</span>
                        {{reg.model}}
                    </td>
                    <td><span class="p-column-title">Id Asistente</span>
                        {{reg.idasistente}}
                    </td>
                    <td>
                        <acciones-tabla [entidadCrud]="componente" [reg]="reg"></acciones-tabla>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Asistente" [modal]="true" [(visible)]="mostrarDialog" [style]="{ width: '40rem' }">
    <form #formReg="ngForm" autocomplete="off" *ngIf="registro" class="col-12 p-fluid">
        <div class="field">
            <label htmlFor="name">Nombre</label>
            <input pInputText name="name" type="text" [(ngModel)]="registro.name" required placeholder="Escribe el nombre de tu asistente"/>
        </div>
        <div class="field">
            <label htmlFor="instructions">Instrucciones</label>
            <textarea rows="5" name="instructions" cols="30" placeholder="Personaliza tu asistente" [(ngModel)]="registro.instructions" pInputTextarea required></textarea>
        </div>
        <div class="field">
            <label htmlFor="model">Modelo GPT</label>
            <p-dropdown [options]="models" name="model" optionLabel="id" optionValue="id" [(ngModel)]="registro.model" required
                appendTo="body" placeholder="Selecciona el model GPT de tu asistente" ></p-dropdown>
        </div>
        
        <p-fileUpload name="filepdf[]" mode="basic" accept=".pdf" (onSelect)="onSelect($event)" label="Subir" chooseLabel="Subir" class="mr-2 pb-3 inline-block" [rounded]="true"></p-fileUpload>

        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (onClick)="cancelarReg()" [rounded]="true"/>
            <p-button label="Aceptar" (onClick)="aceptar()" [disabled]="!formReg.valid" [rounded]="true"/>
        </div>
    </form>
</p-dialog>