<p-toast key="tst"></p-toast>
@if (conToken) {
    @if (esCambiarContrasenia) {
        <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
            <div class="flex flex-column align-items-center justify-content-center">
                <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                    <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Cambio de contraseña</div>
                        </div>
                        
                        <form #formReg="ngForm" autocomplete="off">
                            <label for="passwordtemp" class="block text-900 font-medium text-xl mb-2">Contraseña temporal</label>
                            <p-password id="passwordtemp" name="passwordtemp" [(ngModel)]="registro!.passwordtemp" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" maxlength="20"></p-password>
    
                            <label for="nuevopassword" class="block text-900 font-medium text-xl mb-2">Nueva Contraseña</label>
                            <p-password id="nuevopassword" name="nuevopassword" [(ngModel)]="registro!.nuevopassword" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" maxlength="20"></p-password>
    
                            <label for="confirmarpassword" class="block text-900 font-medium text-xl mb-2">Confirmar Contraseña</label>
                            <p-password id="confirmarpassword" name="confirmarpassword" [(ngModel)]="registro!.confirmarpassword" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" maxlength="20"></p-password>
    
                            <div class="flex align-items-end justify-content-end mb-5 gap-5"></div>
        
                            <button pButton pRipple label="Enviar" class="w-full p-3 text-xl" (click)="cambiarPassword()"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    } 
        
} @else {
    @if (mostrarEmail) {
        <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
            <div class="flex flex-column align-items-center justify-content-center">
                <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                    <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                        <div class="text-center mb-5">
                            <div class="text-900 text-3xl font-medium mb-3">Envio de email</div>
                        </div>
        
                        <form #formReg="ngForm" autocomplete="off">
                            <label for="email" class="block text-900 text-xl font-medium mb-2">Correo electrónico</label>
                            <input id="email" name="email" type="text" [(ngModel)]="registro!.email" placeholder="ejemplo@gmail.com" pInputText class="w-full md:w-30rem mb-5" maxlength="100" style="padding:1rem">
        
                            <div class="flex align-items-end justify-content-end mb-5 gap-5"></div>
        
                            <button pButton pRipple label="Enviar" class="w-full p-3 text-xl" (click)="validarEmail()"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    } @else {
        <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
            <div class="flex flex-column align-items-center justify-content-center">
                <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                    <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                        <div class="grid flex flex-column align-items-center">
                            <div class="flex justify-content-center align-items-center bg-green-500 border-circle" style="width:3.2rem; height:3.2rem;">
                                <i class="text-50 pi pi-fw pi-check text-2xl"></i>
                            </div>
                            <h1 class="text-900 font-bold text-4xl lg:text-5xl mb-2">Email validado Exitoso</h1>
                            <span class="text-600 mb-5">Verifica tu correo electrónico para terminar el proceso de cambio de contraseña</span>
                            <button pButton pRipple icon="pi pi-arrow-left" label="Volver" class="p-button-text" [routerLink]="['/']"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}



